.genreTab__container {
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.genre__title {
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  /* transition: all 0.4s ease; */
}

.genre__title:hover {
  background-color: #eee; /* 호버 시 배경색 */
}

.selected__genre {
  border-bottom: 5px solid rgba(29, 155, 240);
}
