.form__wrap__title {
  font-size: 28px;
  margin-bottom: 30px;
}

.form__container {
  position: relative;
  margin-left: 30px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.picture__upload__btn__new {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 30px;
  padding: 8px 12px;
  background-color: none;
  border: 3px dashed rgb(11, 11, 11);
  border-radius: 10px;
  text-align: center;
  transition: border-color 0.3s ease;
}
.picture__upload__btn__new:hover {
  border-color: gray;
}

/* 앨범 제목 입력 부분 */
.title {
  margin-bottom: 30px;
}
.title__label,
.description__label {
  margin-top: 20px;
  width: 60%;
  padding: 12px;
  border-radius: 14px;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;

  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}
.title__label:focus,
.description__label:focus {
  border: 2px solid #17700b;
}

/* 앨범 소개 부분 */
.description {
  margin-bottom: 20px;
}

.description__label {
  height: 160px;
}

/* 기존 '파일 선택' 버튼 숨기기 */
.picture__upload__btn {
  display: none;
}

.contents {
  border: 1px solid black;
}
