.container {
  margin-top: 40px;
  width: 45%;
  /* height: 850px; */
  border-radius: 40px;
  background-color: white;
  border: 1px solid green;
  /* border: none; */
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.ptag {
  padding: 17px 0 0 22px;
}
/* 제목 부분 */
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 14px;
  border-bottom: 2px solid gray;
  /* background-color: pink; */
}
.title h2 {
  color: gray;
  cursor: pointer;
  padding: 20px 30px;
  border-radius: 20px;
  border: none;
  /* border: 1px solid red; */
}
.title h2:hover {
  color: black;
}
/* 카테고리 선택 */
.title .selected__category {
  background-color: rgb(169, 191, 169);
  color: black;
}

/* contents - list 부분 */
.list__contents__wrap__bottom {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  /* border: 3px solid black; */
}

/* 커뮤니티 리스트 */
.communityList__container {
  /* margin-top: 30px; */
  padding: 30px;
  /* border: 1px solid black; */
}

/* 구분 선 */
.divided__line {
  margin-top: 50px;
  border-bottom: 1px solid #eee;
}

/* 버튼 */
.btn__wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 1px solid red; */
}
.btn__wrap button {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  border: none;
}
.btn__wrap button:hover {
  background-color: rgb(207, 206, 206);
}

/* CommunityList 합친 부분*/
/* contents 부분 */
.list__contents__wrap {
  text-decoration: none;
  /* background-color: orange; */
}

.list__contents__wrap > ul {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 0;
  list-style: none;
  /* border: 3px solid black; */
}

/* 커뮤니티 리스트 (한개당)*/
.list__container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  /* gap: 350px; */
  border-radius: 30px;
  border: none;
  background-color: #e1e1e1;
  height: 60px;
  padding: 10px;
}
.list__title {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
}
.list__name__view {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.list__contents__wrap > ul > li > a {
  text-decoration: none;
  color: inherit;
}
