/* 공통 */
.container {
  width: 100%;

  /* border: 3px solid blue; */
}
.divided__section {
  margin-bottom: 40px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.divided__section:last-child {
  margin-bottom: 0;
}
.section__title {
  /* border: 1px solid green; */
}

/* 최신 음악 */
.new__section {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* 인기차트 + 인기 아티스트 */
.music__section {
  display: flex;
  justify-content: space-between;
}

/* .music__section .section__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
} */

.music__section__left {
  width: 50%
}
.music__section__right {
  width: 40%
}

/* 커뮤니티 부분 */
.community__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 150px; */
  justify-content: space-between;
  /* border: 1px solid red; */
}
